#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#141210",
    floating_border_color: "#B3D58F",
    focused_border_color: "#c4c3c3",
    background_color: "#141210",
)