#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#080505",
    floating_border_color: "#B48C8C",
    focused_border_color: "#c1c0c0",
    background_color: "#080505",
)