/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #080505 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c1c0c0; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c1c0c0; background-color: rgba(180,140,140,0.4)}
.cm-s-nqqwal { background-color: #080505; color: #c1c0c0; }
.cm-s-nqqwal span.cm-builtin { color: #9D2929; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #665353; }
.cm-s-nqqwal span.cm-keyword { color: #996464; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #946B6B; }
.cm-s-nqqwal span.cm-def { color: #AD7F80; }
.cm-s-nqqwal span.cm-variable { color: #B48C8C; }
.cm-s-nqqwal span.cm-variable-2 { color: #AD7F80; }
.cm-s-nqqwal span.cm-string { color: #9D2929; }
.cm-s-nqqwal span.cm-string-2 { color: #9D2929; }
.cm-s-nqqwal span.cm-number { color: #AD7F80; }
.cm-s-nqqwal span.cm-tag { color: #996464; }
.cm-s-nqqwal span.cm-property { color: #B48C8C; }
.cm-s-nqqwal span.cm-attribute { color: #B48C8C; }
.cm-s-nqqwal span.cm-qualifier { color: #946B6B; }
.cm-s-nqqwal span.cm-meta { color: #AD7F80; }
.cm-s-nqqwal span.cm-header { color: #996464; }
.cm-s-nqqwal span.cm-operator { color: #996464; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(173,127,128,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #996464; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #080505); }
